@model List<MealHubProject.ViewModels.OrderViewModel>
@{
    ViewBag.Title = "Orders";
}


<table class="table" id="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Restaurant</th>
            <th>Address</th>
            <th>Total</th>
            <th>Products</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].order.Id</td>
                <td>@Model[i].customer.Username</td>
                <td>@Model[i].restaurant.Username</td>
                <td>@Model[i].order.Address</td>
                <td>@Model[i].order.Total</td>
                <td>
                    @for (int j = 0; j < Model[i].products.Count; j++)
                    {
                        @Model[i].products[j].Name<br />
                    }
                </td>
                <td>@Model[i].order.Status</td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $("#table").dataTable();
    </script>

}