@model List<MealHubProject.ViewModels.OrderViewModel>
@{
    ViewBag.Title = "MyOrders";
}
    <html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
            body {
            }

            .navb-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-content: center;
                align-content: center;
                height: 10vh;
                background-color: darkblue;
                padding-left: 0px;
                grid-gap: 0.1fr;
            }

            .button {
                font-size: 1.4vw;
                border-color: white;
                color: white;
                transition: 250ms;
            }

                .button:hover {
                    background-color: white;
                    color: black;
                }

            .navb-grid > * {
                margin: auto;
            }

            .navb-grid > div > form > a {
                color: white;
                font-size: 1.5vw;
                text-decoration: none;
                cursor: pointer;
                transition: 250ms;
            }

            .navb-grid > div > a {
                color: white;
                font-size: 1.5vw;
                text-decoration: none;
                cursor: pointer;
                transition: 250ms;
            }

            .navb-grid > div :hover {
                color:dimgrey;
            }

            .tbdiv {
                padding: 15px;
            }

            table {
                width: 15vw;
                font-size: 1.2vw;
            }

            .tb {
                font-size: 1.2vw;
                width: 90%;
            }
        </style>
    </head>
    <body>
        <div class="navb-grid">
            <div>
                <a href="https://localhost:44370/Customer/AvailableRestaurants">
                    Avaiable restaurants
                </a>
            </div>
            <div>
                <a href="https://localhost:44370/Customer/FollowedRestaurants">
                    Followed Restaurants
                </a>
            </div>
            <div>
                <a href="https://localhost:44370/Customer/MyOrders">
                    My orders
                </a>
            </div>
            <div>
                <a href="https://localhost:44370/Customer/MakeAnOrder">
                    Make an order
                </a>
            </div>
            <div>
                <a href="Profile">
                    Profile
                </a>
            </div>
            <div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                }

            </div>
        </div>

        <table class="table  tb table-bordered dataTables_info dataTables_length">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Restaurant</th>
                    <th>Address</th>
                    <th>Total</th>
                    <th>Products</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].order.Id</td>
                        <td>@Model[i].restaurant.Username</td>
                        <td>@Model[i].order.Address</td>
                        <td>@Model[i].order.Total</td>
                        <td>
                            @for (int j = 0; j < Model[i].products.Count; j++)
                            {
                                @Model[i].products[j].Name<br />
                            }
                        </td>
                        <td>@Model[i].order.Status</td>
                        @if (@Model[i].order.Status == "Pending")
                        {
                            <td>
                                <a href="./CancelOrder/@Model[i].order.Id" style="font-size:1.2vw" class="btn btn-danger">Cancel Order</a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                    </tr>
                }
            </tbody>
        </table>

